COMPOSE_PROJECT_NAME=plataforma-local

DB_NAME=saas
DB_USER=change-me
DB_PASSWORD=change-me

DB_HOST_PORT=5433
REDIS_HOST_PORT=6379
BACKEND_HOST_PORT=8000
FRONTEND_HOST_PORT=5173
AGENT_HOST_PORT=3000
FLOWER_HOST_PORT=5555

FLOWER_BASIC_AUTH=change-me:change-me

AGENT_LLM_PROVIDER=ollama
AGENT_OLLAMA_MODEL=gemma4:e4b
OLLAMA_BASE_URL=http://host.docker.internal:11434

ANTHROPIC_API_KEY=
